@model SoundClout.Models.Form
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form asp-action="MakeDestiny(@Model)">
        <input type="text" placeholder="First Name" id="firstName" asp-for="@Model.FirstName" />
        <input type="text" placeholder="Last Name" id="lastName" asp-for="@Model.LastName" />
        <input type="date" placeholder="Date of Birth" asp-for="@Model.DOB" />
        <button type="submit" asp-action="MakeDestiny">Submit</button> 
    </form>
</div>